 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(84, 118, 219, 1), rgba(181, 196, 241, 1));
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 1236px;
}

.u-section-1 .u-image-1 {
  width: 524px;
  height: 401px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  object-position: 50% 43.49%;
  margin: 79px 0 0 auto;
}

.u-section-1 .u-group-1 {
  width: 596px;
  min-height: 429px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: -411px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 99px 0 0;
}

.u-section-1 .u-image-2 {
  width: 819px;
  height: 546px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -81px auto 0 0;
}

.u-section-1 .u-group-2 {
  min-height: 273px;
  width: 483px;
  background-image: none;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -70px 73px 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 0;
}

.u-section-1 .u-text-2 {
  margin: 23px 0 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 14px 0 0;
}

.u-section-1 .u-shape-1 {
  width: 250px;
  height: 250px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -330px auto 60px 28px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1227px;
  }

  .u-section-1 .u-image-1 {
    width: 419px;
    height: 320px;
    margin-top: 137px;
    margin-right: 28px;
  }

  .u-section-1 .u-group-1 {
    width: 468px;
    min-height: 336px;
    margin-top: -354px;
    margin-left: 33px;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-right: 30px;
  }

  .u-section-1 .u-image-2 {
    width: 711px;
    height: 474px;
    margin-top: 17px;
  }

  .u-section-1 .u-group-2 {
    margin-top: -79px;
    margin-right: 59px;
    height: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 20px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -319px;
    margin-left: 21px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1441px;
  }

  .u-section-1 .u-image-1 {
    width: 371px;
    height: 284px;
    margin-top: 405px;
  }

  .u-section-1 .u-group-1 {
    width: 590px;
    margin-top: -587px;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    width: 479px;
    height: 319px;
    margin-top: 58px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 36px;
    margin-right: 10px;
  }

  .u-section-1 .u-shape-1 {
    width: 199px;
    height: 199px;
    margin-top: -376px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1299px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-left: 33px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1202px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 260px;
    margin-top: 295px;
    margin-right: -36px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: -486px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.5rem;
    margin-top: -13px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 226px;
    margin-top: -11px;
    margin-left: -50px;
  }

  .u-section-1 .u-group-2 {
    min-height: 246px;
    width: 320px;
    margin-top: 84px;
    margin-right: -16px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 16px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 0;
  }

  .u-section-1 .u-shape-1 {
    width: 122px;
    height: 122px;
    margin-top: -385px;
    margin-left: -25px;
  }
} .u-section-2 {
  --color-var: #b5c4f1;
  min-height: 453px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  margin: 53px 80px 0;
}

.u-section-2 .u-text-2 {
  width: 461px;
  margin: 20px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 65px;
  margin-bottom: -6px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 204px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 62px 60px;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 0 0 0 97px;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: -21px auto 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin: -36px 32px 0 auto;
  padding: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 204px;
}

.u-section-2 .u-container-layout-2 {
  padding: 62px 0;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  color: rgb(16, 129, 224) !important;
  margin: 0 auto 0 60px;
}

.u-section-2 .u-text-4 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: -63px 60px 0 144px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 9px 0 0 132px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 204px;
}

.u-section-2 .u-container-layout-3 {
  padding: 63px 0 35px;
}

.u-section-2 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto 0 60px;
}

.u-section-2 .u-text-6 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: -64px 60px 0 157px;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 3px 13px 0 auto;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 542px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 121px;
    margin-bottom: -17px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 248px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 9px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
    width: auto;
    margin-top: 66px;
    margin-right: 34px;
    margin-left: 113px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: -16px;
    margin-left: 46px;
  }

  .u-section-2 .u-btn-1 {
    font-size: 1.25rem;
    margin-top: -37px;
    margin-right: 56px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 248px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 58px 35px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    font-size: 1rem;
    width: auto;
    margin-top: -54px;
    margin-right: 20px;
    margin-left: 86px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 10px;
    margin-left: 66px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 248px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 9px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 59px;
    margin-left: 11px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1rem;
    width: auto;
    margin-right: 71px;
    margin-left: 75px;
  }

  .u-section-2 .u-btn-2 {
    font-size: 1.125rem;
    margin-top: 10px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 478px;
  }

  .u-section-2 .u-text-1 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 59px;
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 204px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 76px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-2 .u-icon-1 {
    height: 55px;
    width: 55px;
    margin-top: -94px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 44px;
    margin-right: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 229px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 18px 0;
  }

  .u-section-2 .u-icon-2 {
    height: 55px;
    width: 55px;
    margin-left: auto;
  }

  .u-section-2 .u-text-4 {
    margin-top: 20px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 8px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 229px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 30px;
  }

  .u-section-2 .u-icon-3 {
    height: 55px;
    width: 55px;
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-2 .u-text-6 {
    margin-top: 21px;
    margin-right: 11px;
    margin-left: 5px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 13px;
    margin-right: auto;
    margin-left: 17px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 437px;
  }

  .u-section-2 .u-text-1 {
    transition-duration: 0.5s;
    transform: scale(1.1) translateX(0px) translateY(0px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 50px;
    padding-left: 55px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 810px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 103px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 192px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 9px;
    margin-left: auto;
  }
}